!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='description', content='workphone.')
    meta(name='keywords', content='workphone')
    title 海云安全手机-管理员
    link(rel='shortcut icon', href='images/logo.png')
    link(rel='stylesheet', type='text/css', href='jquery-ui-1.8.23.custom/css/ui-lightness/jquery-ui-1.8.23.custom.css')
    link(type='text/css', rel='stylesheet', href='style/reset.css')
    link(type='text/css', rel='stylesheet', href='jqueryCustom/jquery.mCustomScrollbar.css')
    link(type='text/css', rel='stylesheet', href='style/admin_master.css')
    link(type='text/css', rel='stylesheet', href='style/vinput.css')
    script(type='text/javascript', src='script/modernizr+2.0.3.js')
    script(type='text/javascript', src='jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js')
    script(type='text/javascript', src='jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js')
    script(type='text/javascript', src='script/setCookie.js')
    script(type='text/javascript', src='jqueryCustom/jquery.mCustomScrollbar.concat.min.js')
  body
    #wrap
      header
        // 头部
        a#toplogo
          img(src='images/logo_ad.png', alt='', height='45')
        nav#top
          ul
            // 头部的连接
            li
              a(href='/f_org_master') 管理员账户
            li
              a(href='/f_org_master_list') 管理员列表
            li
              a.navHover(href='/f_org_admin_list') 操作员列表
            li
              a(href='/f_org_setLDAP') LDAP配置
            li
              a#logout(href='#') 退出
      aside#adminlist
        ul#ad_guanli.jscroll
          li.firstLi
            img.kao(src='images/home.png', width='20', height='20', alt='logo', style='position:absolute;top:3px;left:0;')
            div.jscroll
            // 管理员
            ul#ad_yic
              // 小部门
      article#admin
        // 右面的主体内容容器
        section#main.main
          // 主题内容 设备数据现实
          #gnan
            // 功能按钮区disabled="disabled"
            button#ad_xzqb(type='button') 选择全部
            button#ad_kcxz(type='button') 空出选择
            button#ad_delusers(type='button') 删除操作员
            a#popd.cb(href="#")
            input#ad_guolv(type='text', placeholder='按字段过滤...')

          #ad_shebei
            #ad_shebeiH
              table#ad_ygt
                // 这里是设备列表的头部
                colgroup
                  col.col_1
                  col.col_2
                  col.col_3
                  col.col_4
                  col.col_5
                  col.col_6
                  col.col_7
                  col.col_8

                tr
                  th
                  th
                    a(id='ad_thstatus',class='0',onclick='ad_sortable(1,this.id)') 序号
                  th
                    a(id='ad_thname',class='0',onclick='ad_sortable(2,this.id)') 用户名
                  th
                    a(id='ad_themail',class='0',onclick='ad_sortable(3,this.id)') 电子邮件
                  th
                    a(id='ad_thtelephone',class='0',onclick='ad_sortable(4,this.id)') 电话号码
                  th
                    a(id='ad_thjob',class='0',onclick='ad_sortable(5,this.id)') 管理权限
                  th
                    a(id='ad_thcontact_ous',class='0') 通信权限
                  th
                    a(id='ad_thop',class='0') 修改

            #ad_shebeiB.jscroll
              // jscroll
              .jscrollContainer
                table#ad_yglb.altTr
                  // 设备列表的主体内容
                  colgroup
                    col.col_1
                    col.col_2
                    col.col_3
                    col.col_4
                    col.col_5
                    col.col_6
                    col.col_7
                    col.col_8

                  tbody
    div#op_admin(style='display:none')
        label.form_title 修改操作员信息
        form#change_operator_form.basic-grey
            div#input_zone
                fieldset
                    legend 基本信息
                        p
                            label(for='adname') 账户名
                            input#adname(type='text', name='adname',disabled='disabled')
                        p
                            label(for='admail') 邮箱
                            input#admail(type='text', name='admail')
                        p
                            label(for='adphone') 手机号码
                            input#adphone(type='text', name='adphone')
                    legend 权限信息
                        p
                            label(for='adldapou') 管理权限
                            span#gxfw
                        p
                            label(for='xzhqx' id='zhqxlb') 通信权限
                            span#txqxbm
                            button#change_addtxqxBtn 添加
                            p#txqx_list
            div#button_zone
                button#change_adminsend(type='submit') 提交
                button#change_adminexit(type='button') 取消

    #popceng
      #ad_delete.dialog(title='操作员删除')
        form#ad_lsscyh
          p 此操作会将用户有关的所有信息都清除，是否要继续？
            p.centerBtn.Lp.xl
              button#ad_sScyh.Lbtn(type='submit') 是
              button#ad_bScyh.Lbtn(type='button') 否

    script(type='text/javascript', src='script/tool.js')
    script(type='text/javascript', src='script/acc.js')
    script(type='text/javascript', src='script/login_ad.js')
    script(type='text/javascript', src='script/master.js')
    script(type='text/javascript', src='script/vinput.js')
    script(type='text/javascript', src='script/main.js')
